.context {
  position: relative;
  width: auto;
  max-width: 300px;
  overflow: hidden;
  padding-top: 32px;

  transition: max-width 0.2s ease-out;

  &__btn-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    padding: 5px 0;
    z-index: 20;
  }
}

.context--close {
  max-width: 32px;

  .overlay {
    position: absolute;
    inset: 0;
    background-color: var(--bs-white);
    backdrop-filter: blur(10px);
  }
  z-index: 10;
}
