.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;

  padding-top: 32px;

  background-color: #fff;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__logo {
    display: flex;
    align-items: baseline;
    gap: 10px;

    .img {
      width: 30px;
    }
  }

  &__btn-toggle {
    top: 0;
    right: 0;
  }
  &__bottom {
    width: 100%;
  }
}

.header--fixed {
  grid-column: 1 / 3;
  position: fixed;
  top: 0;
  margin-inline: calc(var(--root-padding-inline) * -1);
  padding: 10px var(--root-padding-inline);
  width: 100%;
  height: var(--header-height);
  z-index: 1000;


}
