.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;

  padding-top: 32px;

  background-color: #fff;
  z-index: 1000;

  &__user-icon {
    width: 25px;
    border-radius: 50%;
  }

  &__btn-toggle {
    top: 0;
    right: 0;
  }
  &__bottom {
    width: 100%;
  }
  .btn-logout {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
  }
}

.header--fixed {
  grid-column: 1 / 3;
  position: fixed;
  top: 0;
  margin-inline: calc(var(--root-padding-inline) * -1);
  padding-inline: var(--root-padding-inline);
  width: 100%;
  height: var(--header-height);
}
