.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;

  padding-top: 32px;

  &__user-icon {
    width: 25px;
    border-radius: 50%;
  }

  &__btn-toggle {
    top: 0;
    right: 0;
  }
  &__bottom {
    width: 100%;
  }
  .btn-logout {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
  }
}
