.page-layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'header header' 'aside main';
  min-height: 100vh;
  gap: 10px;
  grid-template-areas:
    'header header'
    'aside main';

  &__header {
    grid-area: header;
  }
  &__aside {
    grid-area: aside;
  }
  &__main {
    grid-area: main;
  }

  &__section {
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 1px 1px 7px var(--bs-gray-400);
    background-color: var(--bs-white);
  }
}
