<aside class="page-layout__aside page-layout__section aside">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="./groups">Группы ВК</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="./posts">Посты</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="./reports">Отчеты</a>
      </li>
    </ul>
  </nav>
</aside>
