<% const pageList = [{name: 'Группы ВК', url: '/work-space/groups'}, {name: 'Посты', url: './posts'}, {name: 'Отчеты', url: './reports'}];%>

<aside class="page-layout__aside page-layout__section aside">
  <nav class="nav">
    <ul class="nav__list">
      <% pageList.forEach((page) => { %>
      <li class="nav__item">
        <a
          class="nav__link <% if (page.url.includes(data.currentPage)) { %> nav__link--active <% } %>"
          href="<%=page.url%>"
        >
          <%=page.name%>
        </a>
      </li>
      <% }); %>
    </ul>
  </nav>
</aside>
