<aside
  class="page-layout__context page-layout__section context"
  id="group-context"
>
  <button class="btn context__btn-toggle" id="group-context-btn-toggle">
    <img
      src="/img/bootstrap-icons/chevron-double-left.svg"
      alt="кнопка открытия и закрытия контекстного меню"
    />
  </button>
  <div>
    Lorem ipsum dolor sit amet consectetur <br />
    adipisicing elit. Rem repellat nisi voluptatem recusandae molestias,
    quibusdam <br />
    atque ratione sapiente unde laborum obcaecati rerum id voluptatibus qui
    <br />
    harum sed doloremque. Veritatis, dicta.
  </div>
  <div class="overlay"></div>
</aside>

<script src="/js/group-context.js"></script>
