<header class="page-layout__header page-layout__section header">
  <div>SSM Менеджер</div>
  <img
    class="header__user-icon"
    src="/img/bootstrap-icons/person.svg"
    alt="user icon"
  />
</header>
