<header class="page-layout__header page-layout__section header">
  <button class="btn btn--toggle header__btn-toggle" id="header-btn-toggle">
    <img
      class="slide-section__btn-img"
      src="/img/bootstrap-icons/chevron-double-left.svg"
      alt="кнопка открытия и закрытия навигации"
    />
  </button>
  <div><a href="/" class="link">SSM Менеджер</a></div>
  <% src = data.userAvatar ? `${data.userAvatar}` : '/img/bootstrap-icons/person.svg' %>
  <img class="header__user-icon" src="<%= src %>" alt="user icon" />
</header>
