<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    type="text/css"
    rel="stylesheet"
    href="/styles/libs/bootstrap/bootstrap.min.css"
  />
  <!-- TODO придумать более надежный способ обновления версии стилей -->
  <link
    type="text/css"
    rel="stylesheet"
    href="/styles/styles.css?v=<%= new Date().getTime() %>"
  />
  <title><%= title %></title>
</head>
