<article
        class="view-modal view-modal--vertical view-modal--hide"
        data-ws-post-index="1"
        id="indicators-view"
>
    <button class="btn-reset view-modal__btn-close js-btn-close">
        <svg class="sprite-icon">
            <use xlink:href="#x-circle"></use>
        </svg>
    </button>
    <div class="view-modal__content"></div>
    <canvas id="js-indicators-chart"></canvas>
</article>
