<aside
  class="page-layout__context page-layout__section context slide-section"
  id="context"
>
  <button class="btn btn--toggle context__btn-toggle" id="context-btn-toggle">
    <img
      class="slide-section__btn-img"
      src="/img/bootstrap-icons/chevron-double-right.svg"
      alt="кнопка открытия и закрытия контекстного меню"
    />
  </button>
  <div class="slide-section__overlay"></div>
  <h2>Отчеты</h2>
  <div class="flex flex-column">
    <button
      class="btn btn-outline-success w-100"
      data-bs-toggle="modal"
      data-bs-target="#reportPostModal"
    >
      Выбрать отчет
    </button>

    <button class="btn btn-outline-primary w-100">
      <!--id="btnSendReport"-->
      Отправить отчет
    </button>
  </div>
</aside>
<script defer src="/js/toggle-context.js"></script>
