<!-- TODO сделать фокус на text-aria -->
<div
  class="modal fade"
  id="reportPostModal"
  tabindex="-1"
  aria-labelledby="saveReportModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">
          Добавить пост в отчет
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="reportFormModal"
          class="form form--save-report-post-modal"
          method="post"
          accept-charset="utf-8"
          url="./"
        >
          <label class="form-check-label">
            <div>Комментарий к посту</div>
            <textarea
              rows="2"
              class="form-control text-aria text-aria--comment"
              name="comment"
              id="textCommentModal"
            ></textarea>
          </label>

          <label class="form-check-label form-check-label--inline">
            <div>Отчет</div>
            <select
            class="form-select"
            name="reportId"
            id="selectReport"
          >
            <option value="undefined"></option>
            <% reportList.forEach((item, index) => { %>
            <option 
                value="<%= item.id %>"
                <%= index===0 ? 'selected' : '' %>
                >
              <%= item.name %> 
            </option>
            <% }) %>
          </select>
          </label>  

        <div class="flex shameless-wrapper-plus">
            <span>ИЛИ</span>

            <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                name="isNewReport"
                id="isNewReportPostModal"
            />

            <label class="form-check-label" for="isNewReportPostModal">
                <div>Создать новый отчет</div>
            </label>
            </div>
        </div>

          <fieldset class="form__fieldset close" id="newReportPostModal">
            <legend>Новый отчет</legend>
            <label class="form-check-label">
              <div>Название отчета</div>
              <input
                type="text"
                class="form-control"
                name="reportName"
                id="reportNamePostModal"
              />
            </label>

            <label class="form-check-label">
              <div>Комментарий к отчету</div>
              <textarea
                class="form-control"
                name="reportDescription"
                id="reportDescriptionPostModal"
              ></textarea>
            </label>
          </fieldset>
          <div class="form__footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Отменить
            </button>
            <button
              type="submit"
              class="btn btn-outline-primary"
              id="submitReportPostModal"
            >
              Сохранить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
