<!DOCTYPE html>
<html lang="ru">
<body>
<div id="root">
    <div class="page-layout">
        <main class="page-layout__main page-layout__section main">
            <div class="page-layout__wrapper">
                <img src="/img/500/robot.webp" alt="Произошел сбой в работе приложения">
                <h1>Произошел сбой в работе приложения</h1>
                <p>Мы уже работаем на исправлением. Перезагрузите страницу или зайдите позже</p>
            </div>
        </main>
    </div>
</div>
</body>
</html>