<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head.ejs', {title: data.pageTitle}) %>
  <body>
    <div id="root">
      <div class="page-layout">
        <%- include('../components/header.ejs') %> <%-
        include('../components/aside.ejs') %>

        <main class="page-layout__main page-layout__section main">
          <div>Main</div>
        </main>
      </div>
    </div>
  </body>
</html>
