<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head.ejs', {title: data.pageTitle}) %>
  <body>
    <div id="root">
      <div class="page-layout">
        <!-- prettier-ignore -->
        <%- include('../components/header.ejs') %>
        <!-- prettier-ignore -->
        <%- include('../components/aside.ejs', {currentPage: data.currentPage}) %>
        <main class="page-layout__main page-layout__section main">
          <div class="wrapper">
            <a href="/login" class="link link--entrance">
              <!-- icon666.com - MILLIONS vector ICONS FREE --><svg
                id="svg-btn-on"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
                data-name="Layer 1"
              >
                <path
                  d="m256.011 401.21c-80.061 0-145.211-65.139-145.211-145.21a144.562 144.562 0 0 1 55.151-113.95 11.862 11.862 0 0 1 7.36-2.65 12.211 12.211 0 0 1 5.331 1.261 11.664 11.664 0 0 1 6.794 10.81v2.56a11.382 11.382 0 0 1 -4.436 9.319 119.219 119.219 0 1 0 150.026 0 11.382 11.382 0 0 1 -4.435-9.319v-2.56a11.988 11.988 0 0 1 19.437-9.421 144.6 144.6 0 0 1 55.197 113.95c0 80.071-65.153 145.21-145.214 145.21zm99.97-271.7a28 28 0 0 0 -45.381 21.961v2.56a27.581 27.581 0 0 0 10.332 21.75 103.2 103.2 0 1 1 -129.881 0 27.483 27.483 0 0 0 10.379-21.75v-2.56a28 28 0 0 0 -45.385-21.959 160.433 160.433 0 0 0 -61.245 126.488c0 88.889 72.324 161.21 161.207 161.21s161.211-72.321 161.211-161.21a160.433 160.433 0 0 0 -61.237-126.488zm-112.566-6.141v109.051a12.573 12.573 0 1 0 25.145 0v-109.049a12.573 12.573 0 1 0 -25.145 0zm12.596 137.631a28.623 28.623 0 0 0 28.589-28.58v-109.049a28.59 28.59 0 0 0 -57.18 0v109.049a28.623 28.623 0 0 0 28.591 28.58zm0-261c-141.156 0-256.034 114.84-256.034 256s114.878 256 256.034 256 255.989-114.839 255.989-256-114.833-256-255.989-256z"
                  fill-rule="evenodd"
                />
              </svg>
              <div class="link__text">Войти</div>
            </a>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
