<!DOCTYPE html>
<html lang="ru">
  <%- include('../components/head.ejs', {title: data.pageTitle}) %>
  <body>
    <div id="root">
      <div class="page-layout">
        <main class="page-layout__section page-layout__login main main--login">
          <div class="wrapper">
            <div class="card-base card-base--login">
              <div class="card-base__body">
                  <div class="block-wrapper block-wrapper--logo block-wrapper--center">
                  <img src="/img/smm-toolkit-logo.png" alt="логотип smm toolkit" class="img">
                  <span class="h3">SMM Toolkit</span>
                </div>

                <% if (data?.message !== undefined) {%>
                  <div class="message-text"><%= data.message%></div>
                <% }%>
                <button
                        class="btn btn--vk"
                        id="login"
                        data-smm-redirect-to="<%= data.redirectTo  %>"
                >
                  Продолжить с VK ID
                </button>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script defer src="./js/auth/login.js"></script>
    <script defer src="./js/auth/send-params-to-get-token.js"></script>
  </body>
</html>
