<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head.ejs', {title: data.page_title}) %>
  <body>
    <div id="root">
      <div class="page-layout">
        <!-- prettier-ignore -->
        <%- include('../components/header.ejs') %>
        <!-- prettier-ignore -->
        <%- include('../components/aside.ejs') %>

        <main class="page-layout__main page-layout__section main">
          <div>Reports</div>
        </main>
      </div>
    </div>
  </body>
</html>
