<!DOCTYPE html>
<html lang="ru">
<%- include('../components/head.ejs', {title: data.pageTitle}) %>
<body>
<div id="root">
    <div class="page-layout">
        <main class="page-layout__section page-layout__login main main--login">
            <h1>SSM Менеджер</h1>
            <% if (data?.message !== 'undefined') {%>
                <p><%= data.message%></p>
            <% }%>
            <div class="wrapper">
                <button
                        class="btn btn--vk"
                        id="login"
                        data-smm-redirect-to="<%= data.redirectTo  %>"
                >
                    Оформить подписку
                </button>
            </div>
        </main>
    </div>
</div>

</body>
</html>
