<!DOCTYPE html>
<html lang="ru">
  <%- include('../components/head.ejs', {title: data.page_title}) %>
  <body>
    <div class="container">
      <ul class="dashboard">
        <li>
          <div class="card card--dashboard">
            <!-- <div class="card__background group"></div> -->
            <div class="card__body">
              <h2>Группы ВК</h2>
            </div>
            <div class="card__footer">
              <a class="button" href="./<%=data.user_id%>/groups">Подробнее</a>
            </div>
          </div>
        </li>

        <li>
          <div class="card card--dashboard">
            <!-- <div class="card__background paper"></div> -->
            <div class="card__body">
              <h2>Посты</h2>
            </div>
            <div class="card__footer">
              <a class="button" href="./<%=data.user_id%>/posts">Подробнее</a>
            </div>
          </div>
        </li>
        <li>
          <div class="card card--dashboard">
            <!-- <div class="card__background report"></div> -->
            <div class="card__body">
              <h2>Отчеты</h2>
            </div>
            <div class="card__footer">
              <a class="button" href="./<%=data.user_id%>/reports">Подробнее</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
