#root {
  position: relative;
  padding-inline: 10px;
}

.logo {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.link {
  @include link-reset;
  &--active {
    color: var(--bs-gray-900);
  }

  &--disabled {
    pointer-events: none;
    color: #000;
  }
}

.hide {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.flex-column {
  flex-direction: column;
}

.text-aria {
  min-height: 100px !important;
}

// для home page

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.link--entrance {
  display: inline-block;
  width: 100px;
  height: auto;
}

.link {
  &__text {
    text-align: center;
  }

  &:hover {
    #svg-btn-on {
      fill: var(--bs-link-hover-color);
    }
    .link__text {
      color: var(--bs-link-hover-color);
    }
  }

  &:active {
    #svg-btn-on {
      fill: var(--bs-indigo);
    }
    .link__text {
      color: var(--bs-indigo);
    }
  }
}

#svg-btn-on {
  fill: var(--bs-primary);
  transition: fill 0.2s ease-out;
}

.btn--vk {
  background-color: #0077ff;
  color: #fff;
}

.sprite-icon {
  width: 25px;
  height: 25px;
  fill: currentColor;
}

.tech-info {
  display: flex;
  gap: 15px;

  font-family: monospace;
  font-size: 12px;
  color: var(--bs-gray-600);

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }

  .sprite-icon {
    width: 15px;
    height: 15px;
  }
}
