.card-base {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 7px var(--bs-gray-400);
  border-radius: 10px;

  &__body {
    padding-inline: 1rem;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  &__footer {
    padding-inline: 1rem;
  }

  &__background {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -10;
  }

  .paper {
    background-image: url('../../img/icons/paper.png');
  }
  .group {
    background-image: url('../../img/icons/group.png');
  }
  .report {
    background-image: url('../../img/icons/report.png');
  }
}

.card-base--login {
  z-index: 100;
  width: 30%;
  min-width: 280px;
  max-width: 460px;

  .card-base__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    .h3 {
      margin: 0;
    }
  }

  .img {
    width: 20%;
  }

  .message-text {
    font-size: 1.2rem;
    font-style: italic;
  }

  .btn {
    width: 100%;
    font-size: 1.2rem;
  }
}

.card-base--dashboard {
  min-width: 250px;
  min-height: 300px;
  height: 100%;

  .card-base__background {
    background-position: center bottom;
    margin: 10px;
  }
}
