.hero {
  position: relative;
  height: calc(100vh - calc(var(--header-height) * 2));
  display: flex;
  //flex-direction: column;

  &__background {
    //position: absolute;
    height: 100%;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__background--img {
    width: 50%;
    border-radius: 20px;
    background-size:  cover ;
    background-image: url('/img/landing/financial-analyst-origin.jpg');
    background-position: right top;
    z-index: -100;
  }

  &__content {
    width: 50%;
    height: 100%;
  }

  &__card {
    position: relative;
    top: -10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 120%;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
  }

  // todo сделать размер заголовка отзывчивым
  &__title {
    margin: 0;
    font-size: 50px;
  }
  &__text {
    font-size: 25px;
  }

  &__background--layout {
    width: 100%;
    position: absolute;
    inset: 0;
    background-position: left top;
    background-image: linear-gradient(to right bottom, rgba(225, 234, 231, 1), 75%,  rgba(225, 234, 231, 0)  );
    z-index: -90;
  }
}