.table {
  thead {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__pagination-cell {
    border-style: unset;
  }

  &__flex {
    display: flex;
  }

  &__btn-sort {
    padding-inline: 0.75rem;

    &:hover {
      .sprite-icon {
        fill: var(--bs-blue);
      }
    }

    &:active {
      .sprite-icon {
        fill: var(--bs-indigo);
      }
    }

    &--active {
      .sprite-icon {
        fill: var(--bs-purple);
      }
    }
  }

  th {
    vertical-align: top;
    background-color: var(--bs-gray-200);
  }

  td {
    vertical-align: middle;
  }

  .td--form {
    padding-left: 0;
    border-style: unset;
    background-color: var(--bs-white);
  }

  .td--fit-content {
    width: 1%;
    white-space: nowrap;
  }

  .text-align-center {
    text-align: center;
  }
}

.table--groups {
  th {
    text-align: center;
  }

  td:not(:nth-child(2)) {
    text-align: center;
  }
  .id {
    color: var(--bs-gray-600);
  }
}

.table--reports {
  td {
    vertical-align: top;
  }
}
