.table {
  thead {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__pagination-cell {
    border-style: unset;
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-icon {
    padding-inline: 0.75rem;

    &:hover {
      .sprite-icon {
        fill: var(--bs-blue);
      }
    }

    &:active {
      .sprite-icon {
        fill: var(--bs-indigo);
      }
    }

    &--active {
      .sprite-icon {
        fill: var(--bs-purple);
      }
    }
  }

  &__btn-icon--local {
    .sprite-icon {
      fill: var(--bs-green);
    }

      &:hover {
      .sprite-icon {
        fill: var(--green-light);
      }
    }

    &:active {
      .sprite-icon {
        fill: var(--green-dark);
      }
    }

    &--active {
      .sprite-icon {
        fill: var(--green-dark);
      }
    }
  }

  th {
    vertical-align: top;
    background-color: var(--bs-gray-200);
  }

  td {
    vertical-align: middle;
  }

  .td--form {
    padding-left: 0;
    border-style: unset;
    background-color: var(--bs-white);
  }

  .td--fit-content {
    width: 1%;
    white-space: nowrap;
  }

  .text-align-center {
    text-align: center;
  }

  .ceil-body {
    position: relative;
    &__control {
      position: absolute;
      top: -5px;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .table__btn-icon {
        padding-block: 0;
        .sprite-icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.table--groups {
  th {
    text-align: center;
  }

  td:not(:nth-child(2)) {
    text-align: center;
  }
  .id {
    color: var(--bs-gray-600);
  }
}

.table--reports {
  td {
    vertical-align: top;
  }
}
